@charset "utf-8";
/*全体*/
.wrapper{
  max-width: 350px;
  margin: 0 auto;
  color: #666;
}

#calc{
  box-sizing: border-box;
  text-align: center;
}

/*テキスト*/
input{
  box-sizing: border-box;
  width: 75%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
  margin-bottom: 30px;
}

/*ボタン関係*/
button{
  font-size: 18px;
  width: 20%;
  height: 3.5rem;
  color: #333;
  vertical-align: middle;
  border-color: #fff;
}

.ac {
  width: 85%;
}

button:hover{
  background-color: #ddd;
}
